---
import { LOCALE, SITE } from "@config";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

export interface Props {
  title?: string;
  authors?: string[];
  desc?: string;
  img?: string;
  canonicalURL?: string;
  published?: Date;
  modified?: Date | null;
  scrollSmooth?: boolean;
}

const {
  title = SITE.title,
  authors = [SITE.author],
  desc = SITE.desc,
  img = SITE.img,
  canonicalURL = new URL(Astro.url, Astro.site).href,
  published,
  modified,
  scrollSmooth = false,
} = Astro.props;

const socialImageURL = new URL(img ?? SITE.img ?? "og.png", Astro.url.origin)
  .href;
---

<!doctype html>
<html
  lang=`${LOCALE.lang ?? "en"}`
  class={`${scrollSmooth && "scroll-smooth"}`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={desc} />
    <meta name="author" content={authors.join(", ")} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Article Published/Modified time -->
    {
      published && (
        <meta
          property="article:published_time"
          content={published.toISOString()}
        />
      )
    }
    {
      modified && (
        <meta
          property="article:modified_time"
          content={modified.toISOString()}
        />
      )
    }

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:image" content={socialImageURL} />

    <meta name="theme-color" content="" />

    {
      // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
      // include google-site-verification tag in the heading
      // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }

    <ViewTransitions />

    <script is:inline src="/toggle-theme.js"></script>
    <script>
      import scramble from "@utils/scramble.js";
      document.body.classList.remove("opacity-0");

      scramble("[scramble]", 2000);
      setTimeout(() => {
        document.addEventListener("astro:page-load", () => {
          document.body.classList.remove("opacity-0", "transition-all");
          scramble("[scramble]");
        });
      }, 1100)
    </script>
  </head>
  <body>
  <body scramble class="transition-all duration-1000 opacity-0">
    <slot />
  </body>
</html>
